# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env
.venv
*.pt
*.pth

# OS Files
.DS_Store
Thumbs.db

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
uploads/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
